/* Variables */
:root {
    --primary-color: #007BFF;
    --white-color: white;
}

/* Estilos generales */
body,
form,
input,
button,
.boton-derecha,
.item-label,
.sexo-item,
#button,
#password,
#textoAnimado {
    box-sizing: border-box;
}

/* Estilos del cuerpo */
body {
    background-image: url('multimedia/fondos/ejemplo_juego2.jpg');
    background-position: center;
    background-size: cover;
    animation: fondoDinamico 5s infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

@keyframes fondoDinamico {

    0%,
    100% {
        background-color: red;
    }

    50% {
        background-color: green;
    }
}

/* Estilos del formulario */
form {
    display: flex;
    flex-direction: column;
    width: 200px;
}

@media (max-width: 600px) {
    form {
        width: 100%;
    }
}

/* Estilos de los inputs y botones */
input,
button {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

input {
    border: 1px solid #ccc;
}

button {
    border: none;
    background-color: var(--primary-color);
    color: var(--white-color);
    cursor: pointer;
    transition: background-color 0.5s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Estilos específicos */
.boton-derecha {
    height: 10px;
    width: 50px;
    padding: 9px;
    border-radius: 5px;
    border: none;
    position: fixed;
    top: 0;
    right: 0;
}

.item-label,
#button {
    color: var(--white-color);
}

#button {
    background-color: rgb(13, 193, 190);
}

.registrar {
    display: block;
}

.sexo-item {
    display: flex;
    flex-direction: row;
}

#password {
    display: flex;
    flex-direction: column;
    min-width: 200px;
}

#textoAnimado {
    text-align: center;
    font-size: 50px;
    animation: animacion 5s infinite;
}

@keyframes animacion {
    0% {
        color: red;
    }

    25% {
        color: yellow;
    }

    50% {
        color: blue;
    }

    100% {
        color: green;
    }
}

#textoAnimado:active {
    transform: scale(1.1);
}

img {
    alt: 'Descripción de la imagen';
}