#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.fabian,
.sebas,
.benito {
    width: 100vw;
    height: 33.33vh;
    margin: 10px;
    border: 5px solid black;
    border-radius: 20px;
    font-size: 20px;
    color: white;
    cursor: pointer;
    transition: transform .2s;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo para el controlador de audio */
audio {
    width: 200px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.5); /* Blanco translúcido */
}


.fabian {
    background: url('./fabian/media/menuminecraft.jpg') no-repeat center center/cover;
}

.sebas {
    background: url('./multimedia/fondos/fondo_game.jpg') no-repeat center center/cover;
}

.benito {
    background: url('./multimedia/fondos/among_us.jpg') no-repeat center center/cover;
}

.fabian:hover,
.sebas:hover,
.benito:hover {
    transform: scale(1.1);
}